// COLORS
$color-white: #fff;
$color-blue-dark-1: #2f527b;
$color-blue-dark-2: #1d355d;

$color-orange: #f9a826;
$color-purple: #6066d0cc;

$color-red: #ea8282;
$color-green: #60bf88;

// FONTS
$body-font: "Poppins", sans-serif;
$footer-font: "Montserrat", sans-serif;
